<template>
	<div id="app">
		<Header/>
		<Dashboard v-if="configsFetched && modulesFetched" :data="data"/>
	</div>
</template>

<script>
import Dashboard from './components/Dashboard.vue'
import Header from './components/Header.vue'

export default {
	name: 'app',
	components: {
		Dashboard, Header
	},
	data () {
		return {
			'configs': {},
			'modules': {},
			configsFetched: false,
			modulesFetched: false
		}
	},
	computed: {
		data () {
			let arr = []

			let j = 0
			for (let k in this.modules) {
				arr.push({ name: k, config: this.modules[k], index: j })
				j++
			}

			for (let k in this.configs) {
				let i
				let f = false
				for (i in arr) {
					if (k === arr[i].config) {
						f = true
						break
					}
				}
				if (f) {
					arr[i].schema = this.configs[k]
				} else {
					arr.push({ schema: k, config: this.configs[k] })
				}
			}
			return arr
		}
	},
	mounted: function () {
		fetch('/api/configs', { method: 'get' })
			.then((response) => {
				return response.json()
			}).then((data) => {
				console.log(data)
				this.configs = data
				this.configsFetched = true
			})
		fetch('/api/modules', { method: 'get' })
			.then((response) => {
				return response.json()
			}).then((data) => {
				console.log(data)
				this.modules = data
				this.modulesFetched = true
			})
	}
}
</script>

<style lang="scss">
#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
}
</style>
