<template>
	<b-card
	header-tag="header"
	footer-tag="footer"
	:title="configPath.name"
	>
	<b-list-group flush>
		<b-list-group-item v-for="(p, index) in data" :key="index">{{p.schema.name}}: {{p.value}} {{p.schema.metric}}</b-list-group-item>
	</b-list-group>
	<em slot="footer">
		<b-button @click="fetchData" variant="success">Reload</b-button>
		<b-button :pressed.sync="inSettings" variant="primary">Settings</b-button>
		<b-list-group v-if="inSettings">
			<b-list-group-item v-for="(a, index) in schema.config" :key="index">
				<label :for="`type-${index}`">{{a.name}}</label>
				<b-form-input :id="`type-${index}`" v-model="config[index]"></b-form-input>
			</b-list-group-item>
			<b-button @click="save" variant="success">Save</b-button>
		</b-list-group>
	</em>
</b-card>
</template>

<script>
import Vue from 'vue'
import { BCard, BListGroup, BListGroupItem, BButton, BFormInput } from 'bootstrap-vue'

Vue.component('b-form-input', BFormInput)
Vue.component('b-button', BButton)
Vue.component('b-card', BCard)
Vue.component('b-list-group', BListGroup)
Vue.component('b-list-group-item', BListGroupItem)

export default {
	props: {
		configPath: Object
	},
	data () {
		return {
			'inSettings': false,
			'rawSchema': {},
			'config': {},
			'data': {},
			'form': {},
			'timer': ''
		}
	},
	methods: {
		fetchData () {
			for (let p in this.schema.get) {
				fetch('/api/get?name=' + this.configPath.index + '&get=' + p, { method: 'get' })
					.then((response) => {
						return response.json()
					}).then((data) => {
						Vue.set(this.data, p, { 'value': data['value'], 'schema': this.schema.get[p] })
					})
			}
		},
		save () {
			fetch('/api/save?name=' + this.configPath.config + '&text=' + JSON.stringify(this.config), { method: 'put' })
				.then((response) => {
					return response.json()
				}).then((data) => {
					console.log(data)
				})
		}
	},
	mounted () {
		fetch('/api/schema?name=' + this.configPath.schema, { method: 'get' })
			.then((response) => {
				return response.json()
			}).then((data) => {
				this.schema = data
				this.fetchData()
			})
		fetch('/api/config?name=' + this.configPath.config, { method: 'get' })
			.then((response) => {
				return response.json()
			}).then((data) => {
				this.config = data
			})
	},
}
</script>

<style lang="scss">
.box {
	border: 1px solid black;
	color: #000;
}
</style>
