<template>
	<div>
		<b-jumbotron header="Dashboard">
			<b-card-group deck>
				<Box v-for="(config, index) in data" :key="index" :configPath="config"/>
			</b-card-group>
		</b-jumbotron>
	</div>
</template>

<script>
import Box from './Box.vue'
import { BJumbotron, BCardGroup } from 'bootstrap-vue'

export default {
	components: {
		Box, BCardGroup, BJumbotron
	},
	props: {
		data: {}
	}
}
</script>
