<template>
	<div>
		<b-navbar toggleable="lg" type="dark" variant="info">
			<b-navbar-brand href="#">Hejmo - ESP32 Admin</b-navbar-brand>
<!--
			<b-collapse id="nav-collapse" is-nav>

				<b-navbar-nav class="ml-auto">
					<b-nav-form>
						<b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
						<b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
					</b-nav-form>
-->
<!--
					<b-nav-item-dropdown text="Lang" right>
						<b-dropdown-item href="#">EN</b-dropdown-item>
						<b-dropdown-item href="#">ES</b-dropdown-item>
						<b-dropdown-item href="#">RU</b-dropdown-item>
						<b-dropdown-item href="#">FA</b-dropdown-item>
					</b-nav-item-dropdown>
				</b-navbar-nav>
			</b-collapse>
-->
		</b-navbar>
	</div>
</template>

<script>
import Vue from 'vue'
import { BNavbar, BNavbarBrand } from 'bootstrap-vue'
Vue.component('b-navbar', BNavbar)
Vue.component('b-navbar-brand', BNavbarBrand)

export default {
	components: {
	}
}
</script>
